/JavaAulas/dist/
/JavaSecondTri/Aula1/nbproject/private/
/JavaSecondTri/Aula1/dist/
/JavaSecondTri/Aula1/build/
/JavaSecondTri/Ex1/nbproject/private/
/JavaSecondTri/Ex1/build/
/JavaSecondTri/DidaticoClass/nbproject/private/
/JavaSecondTri/Ex2/nbproject/private/
/JavaSecondTri/Ex3/nbproject/private/
/JavaSecondTri/Ex1/dist/
/JavaSecondTri/Teste/nbproject/private/
/JavaSecondTri/Teste/build/
/JavaSecondTri/TesteDois/nbproject/private/
/JavaSecondTri/TesteDois/build/